<div
  (click)="closeBagSidebar()"
  class="bag-container-close overflow-hidden transition-all z-50 fixed w-screen h-screen flex flex-row-reverse pointer-events-none"
  [ngClass]="{
    'bag-container-open': ui.isBagOpen,
    'bag-container-close': !ui.isBagOpen
  }"
>
  <div
    (click)="$event.stopPropagation()"
    [ngClass]="{ open: ui.isBagOpen, close: !ui.isBagOpen }"
    class="translate-x-[100%] delay-300 z-[100] pointer-events-auto lg:w-[42vw] lg:max-w-[48vw] bg-stone-50 h-full flex flex-col px-4 justify-between items-start overflow-y-auto"
  >
    <div class="border-b-stone-200 border-b-solid border-b-[1px] w-full">
      <button (click)="closeBagSidebar()" class="flex gap-2 items-center">
        <mat-icon>chevron_left</mat-icon>
        <p class="capitalize py-4">keep shopping</p>
      </button>
    </div>

    <!-- ----- PRODUCTS IN BAG ----  -->
    <div
      *ngIf="products.length > 0"
      class="h-[60%] flex-1 w-full flex flex-col"
    >
      <div class="py-4 flex justify-between items-center">
        <p class="text-2xl capitalize font-bold">bag</p>
        <p class="text-stone-400">{{ products.length }} items</p>
      </div>
      <div class="w-full h-full overflow-y-auto flex flex-col">
        <div
          *ngFor="let p of products"
          class="grid grid-cols-8 text-stone-900 py-2 gap-8 lg:gap-4"
        >
          <div class="col-span-3 lg:col-span-4">
            <p class="capitalize">
              {{ p.productName }}
            </p>
            <p class="text-stone-400">{{ p.productCode }}</p>
          </div>
          <div
            class="col-span-2 lg:col-span-1 flex justify-center items-center text-sm"
          >
            <div class="flex items-center justify-between gap-4 font-bold">
              <button
                [disabled]="p.quantity < 2"
                (click)="decreaseProductQuantity(p.productCode)"
                [ngClass]="{ 'text-stone-400': p.quantity < 2 }"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <p class="text-sm">{{ p.quantity }}</p>
              <button (click)="increaseProductQuantity(p.productCode)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-span-2 flex justify-center items-center">
            <p>${{ p.MSRP }}</p>
          </div>
          <div class="flex justify-center items-center">
            <button (click)="removeFromBag(p.productCode)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- -------- END PRODUCTS IN BAG -------- -->

    <!-- -------- BAG INFORMATION ------- -->
    <div
      *ngIf="products.length > 0"
      class="border-t-stone-200 bg-stone-50 border-t-solid border-t-[1px] flex flex-col justify-end h-auto py-4 w-full"
    >
      <div class="text-stone-400 capitalize">
        <div class="flex justify-between items-center pb-2">
          <p>items subtotal</p>
          <p>${{ bag.subtotal }}</p>
        </div>
        <div class="flex justify-between items-center pb-2">
          <p>shipping</p>
          <p>${{ bag.shipping }}</p>
        </div>
        <div class="flex justify-between items-center pb-2 text-stone-900">
          <p>estimated total</p>
          <p>${{ bag.total }}</p>
        </div>
      </div>
      <div class="pt-4">
        <button
          class="bg-stone-900 hover:bg-stone-800 text-stone-50 px-6 py-2 w-full"
        >
          checkout
        </button>
      </div>
    </div>
    <!-- ------- END BAG INFORMATION ----- -->

    <!-- IF THERE ARE NO PRODUCTS -->
    <div *ngIf="products.length < 1" class="w-full h-full">
      <!-- TODO: show new arrivals -->
      <div class="py-4">
        <p class="text-4xl uppercase font-bold">new arrivals</p>
      </div>
    </div>
  </div>
</div>
