.open {
  transform: translateX(0);
  transition: ease-out 0.3s;
}

.close {
  transform: translateX(100%);
  transition: ease-in-out 0.3s;
}

.bag-container-open {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all;
  backdrop-filter: blur(4px);
  pointer-events: all;
}

.bag-container-close {
  transition: all;
  background: transparent;
  pointer-events: none;
}
