<div
  class="z-50 lg:fixed bg-stone-900/40 w-screen h-screen flex flex-row-reverse"
>
  <div
    class="w-[42vw] max-w-[48vw] bg-stone-50 h-full flex flex-col px-4 justify-between items-start"
  >
    <div class="border-b-stone-200 border-b-solid border-b-[1px] w-full">
      <button class="flex gap-2 items-center">
        <mat-icon>chevron_left</mat-icon>
        <p class="capitalize py-4">keep shopping</p>
      </button>
    </div>
    <div class="h-[60%] flex-1 w-full">
      <div class="py-4 flex justify-between items-center">
        <p class="text-2xl capitalize font-bold">bag</p>
        <p class="text-stone-400">{{ products.length }} items</p>
      </div>
      <div
        class="w-full h-full overflow-y-auto overflow-x-hidden flex flex-col gap-8"
      >
        <div
          *ngFor="let p of products"
          class="grid grid-cols-8 text-stone-900 p-2"
        >
          <div class="col-span-4">
            <p class="capitalize">
              {{ p.productName }}
            </p>
            <p class="text-stone-400">{{ p.productCode }}</p>
          </div>
          <div class="flex justify-center items-center text-sm">
            <div class="flex items-center justify-between gap-4 font-bold">
              <button [ngClass]="{ 'text-stone-400': p.quantity < 2 }">
                <mat-icon>remove</mat-icon>
              </button>
              <p class="text-sm">{{ p.quantity }}</p>
              <button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-span-2 flex justify-center items-center">
            <p>${{ p.MSRP }}</p>
          </div>
          <div class="flex justify-center items-center">
            <button>
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="border-t-stone-200 bg-stone-50 border-t-solid border-t-[1px] flex flex-col justify-end h-auto py-4 w-full"
    >
      <div class="text-stone-400 capitalize">
        <div class="flex justify-between items-center pb-2">
          <p>items subtotal</p>
        </div>
        <div class="flex justify-between items-center pb-2">
          <p>shipping</p>
        </div>
        <div class="flex justify-between items-center pb-2 text-stone-900">
          <p>estimated total</p>
        </div>
      </div>
      <div class="pt-4">
        <button
          class="bg-stone-900 hover:bg-stone-800 text-stone-50 px-6 py-2 w-full"
        >
          checkout
        </button>
      </div>
    </div>
  </div>
</div>
