<section class="container w-full mx-auto my-0">
  <div class="pb-8">
    <p class="text-stone-600">
      Results: [ <span class="text-stone-900">{{ results }}</span> ]
    </p>
  </div>
  <div
    *ngIf="(productsList?.length || 0) > 0"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-1 gap-y-4"
  >
    <!-- product item -->
    <a
      routerLink="/product/{{ p.productCode }}"
      *ngFor="let p of productsList"
      class="z-10 w-full h-96 2xl:h-[32rem] flex flex-col"
    >
      <div
        class="product-image bg-stone-100 h-[90%] w-full px-4 py-8 flex flex-col-reverse"
      >
        <button
          (click)="quickAdd($event, p)"
          class="z-40 btn-quick-add hidden w-full py-4 bg-stone-50 rounded-sm uppercase border-solid border-[1px] border-stone-200"
        >
          {{ uiText.addToBagBtn.text }}
        </button>
      </div>
      <div class="py-2">
        <p class="text-stone-900 text-sm capitalize">
          {{ p.productName }}
        </p>
        <div class="flex gap-2 items-center text-stone-900 text-sm capitalize">
          <p>${{ p.MSRP }}</p>
          <p>{{ p.productLine }}</p>
        </div>
      </div>
    </a>
    <!-- product item end -->
  </div>
</section>
